body {
    background-color: #1f1f1f;
    color: #f0f0f0;
}

header {
    background-color: rgba(255, 255, 255, 0.1);
}

nav table {
    background-color: #2e2e2e;
}

nav table ,nav table  a{
    color: #ffcc00;
}

section {
    background-color: #3a3a3a;
}

h2 {
    color: #ffcc00;
}

footer {
    background-color: #2e2e2e;
    color: #f0f0f0;
}

#contact{
    background-color:grey;
}

